<h1 class="text-center">graph Task!</h1>
   <div class="row">
    <div class="col-lg-6">
      <h3>Bar Chart</h3> 
      <canvas id="myChart"></canvas>
             
      <!-- progress bar -->
                <h2>COUNTRIES</h2>
                <div *ngFor="let countryName of country ">
                   {{countryName.name}}
                   <span style="float: right;">{{countryName.percentage}}%</span>
                   <div class="first" >
                    <!-- *ngFor="let countryName of country " -->
                    <!-- {{countryName.name}} -->
                    <!-- {{countryName.percentage}}    -->
                    <div  class="secound"  [ngStyle]="{'width.%':countryName.percentage}">
                       </div>
                  </div>
                </div>
    </div>

    <!-- <div class="col-lg-6">
      <h3>Pie Chart</h3> 
      <canvas id="pieChart"></canvas>
    </div> -->

    <div class="col-lg-6">
      <h3>Doughtnut Chart</h3> 
        <div style="height: 70%; width:100%">
          <canvas id="doChart" ></canvas>
        </div>
    </div>

   </div>